<h1>Add the dose, dude!</h1>


<%= form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Quantity <%= f.text_field :description %>
  <%= f.select :ingredient_id, @ingredients.map { |ingredient| [ingredient.name, ingredient.id] } %>
  <%= f.submit %>
<% end %>
